.loading-overlay {
  position: absolute;
  width:100%;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  z-index: 500000;
  background-color: rgba(0, 0, 0, .3);
}

.loading-spinner {
  top: 40%;
  left: 50%;
}
