<div class="card">
  <div class="card-body">
    <form (ngSubmit)="this.login()">
        <div class="form-group">
          <label>Email address</label>
          <input name="userEmail" [(ngModel)]="email" type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input name="userPassword" [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
  </div>
</div>
