<form [formGroup]="courseForm" (ngSubmit)="saveCourse()" class="container my-2">
  <div class="form-group col-md-4">
    <label>Title</label>
    <input formControlName="name" [ngClass]="{'is-invalid': isInvalid('name')}" type="text" class="form-control">
    <div *ngIf="isInvalid('name')" class="alert alert-danger" role="alert">
      {{getErrors('name').maxlength ? "title is too long" : "required field"}}
    </div>
  </div>
  <div class="form-group col-md-12">
    <label>Description</label>
    <textarea formControlName="description" [ngClass]="{'is-invalid': isInvalid('description')}" class="form-control" rows="3"></textarea>
    <div *ngIf="isInvalid('description')" class="alert alert-danger" role="alert">
      {{getErrors('description').maxlength ? "description is too long" : "required field"}}
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Date (dd/mm/yyyy)</label>
    <app-date-input formControlName="date" [invalid]="isInvalid('date')"></app-date-input>
    <div *ngIf="isInvalid('date')" class="alert alert-danger" role="alert">
      {{getErrors('date').required ? "required field" : "wrong format"}}
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label>Duration</label>
    <app-duration-input formControlName="length" [invalid]="isInvalid('length')"></app-duration-input>
    <div *ngIf="isInvalid('length')" class="alert alert-danger" role="alert">
      {{getErrors('length').required ? "required field" : "only positive numbers are allowed"}}
    </div>
  </div>
  <div class="btn-group col-md-3">
    <button type="submit" class="btn save-btn" [disabled]="courseForm.invalid"
      [ngClass]="{'btn-outline-muted': courseForm.invalid, 'btn-outline-primary': courseForm.valid}">save</button>
    <button type="button" (click)="cancel()" class="delete-button btn btn-outline-danger">cancel</button>
  </div>
</form>
