<form (ngSubmit)="saveCourse()" class="container my-2">
  <div class="form-group col-md-4">
    <label>Title</label>
    <input [(ngModel)]="newCourse.title" type="text" required name="courseTitle" class="form-control">
  </div>
  <div class="form-group col-md-12">
    <label>Description</label>
    <textarea [(ngModel)]="newCourse.description" required name="courseDesc" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group col-md-4">
    <label>Date</label>
    <input [ngModel]="newCourse.creationDate | date:'y-MM-dd'" required (ngModelChange)="course.creationDate = $event" type="date" name="courseDate" class="form-control">
  </div>
  <div class="col-md-3 mb-3">
    <label>Duration</label>
    <div class="input-group">
      <input [(ngModel)]="newCourse.duration" type="text" required name="courseDuration" class="form-control">
      <div *ngIf="newCourse.duration" class="input-group-append">
        <span class="input-group-text">{{newCourse && newCourse.duration | courseDuration}}</span>
      </div>
    </div>
  </div>
  <div class="btn-group col-md-3">
    <button type="submit" class="btn save-btn btn-outline-primary">save</button>
    <button type="button" (click)="cancel()" class="delete-button btn btn-outline-danger">cancel</button>
  </div>
</form>
