<div class="card">
  <div class="card-body border rounded" [ngClass]="{'bg-light': course.topRated}" [appCourseOutline]="getCourseOutlineColor()">
    <h5>
      <a [routerLink]="['/courses', course.id]" class=" course-title card-title text-dark">{{course.title | uppercase}}</a>
      <img *ngIf="course.topRated" class="ml-1 mb-1" src="/assets/star.svg" width="20" height="20" alt="star">
    </h5>
    <p class="m-0"><span class="oi oi-clock mr-2"></span>{{course.duration | courseDuration}}</p>
    <p class="text-muted"><span class="oi oi-calendar mr-2"></span>{{course.creationDate | date}}</p>
    <p class="card-text">{{course.description}}</p>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary" (click)="editCourse()"><span class="oi oi-pencil mr-1"></span>edit</button>
      <button type="button" class="delete-button btn btn-outline-danger" (click)="deleteCourse()"><span class="oi oi-trash mr-1"></span>delete</button>
    </div>
  </div>
</div>
