<div class="card">
  <div class="card-body border rounded" [ngClass]="{'bg-light': course.topRated}" [appCourseOutline]="getCourseOutlineColor()">
    <h5><a href="#" class=" course-title card-title text-dark">{{course.title | uppercase}}</a><span *ngIf="course.topRated" class="oi oi-star pl-2"></span></h5>
    <p class="m-0"><span class="oi oi-clock"></span> {{course.duration}} min</p>
    <p class="text-muted"><span class="oi oi-calendar"></span> {{course.creationDate | date}}</p>
    <p class="card-text">{{course.description}}</p>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary"><span class="oi oi-pencil"></span> edit</button>
      <button type="button" class="delete-button btn btn-outline-danger" (click)="deleteCourse()"><span class="oi oi-trash"></span> delete</button>
    </div>
  </div>
</div>
