<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.svg" width="50" height="50" alt="logo">
    Angular Training
  </a>
  <div *ngIf="this.isUserInfoVisible" class="form-inline">
    <a href="#" class="user-name font-weight-bold navbar-text mr-sm-2">{{(user | async)?.login}}</a>
    <button class="btn my-2 my-sm-0"
      (click)="onButtonClick()"
      [ngClass]="{'btn-outline-danger': isAuthenticated, 'btn-outline-success': !isAuthenticated}">
      {{isAuthenticated ? 'Log out' : 'Log in'}}
    </button>
  </div>
</nav>
