<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.svg" width="50" height="50" alt="logo">
    Angular Training
  </a>
  <div class="form-inline">
    <a href="#" class="user-name navbar-text mr-sm-2">{{userLogin}}</a>
    <button type="submit" class="btn my-2 my-sm-0"
      (click)="onButtonClick()"
      [ngClass]="{'btn-outline-danger': userLogin, 'btn-outline-success': !userLogin}">
      {{userLogin ? 'Log out' : 'Log in'}}
    </button>
  </div>
</nav>
